.mainBoxCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragrah {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 15px 25px 15px 35px;
}

.boxImages {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 290px;
  margin: 15px;
}

.boxImages div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-y: auto;
}

.date {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS para cardNews */

.boxCard {
  background-color: var(--color-beige);
  width: 950px;
  height: 380px;
  display: grid;
  grid-template-columns: 300px 300px 400px;
  grid-template-rows: 40px 300px 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* CSS para cardProjects */

/* .boxCardNews {
  background-color: var(--color-beige);
  width: 950px;
  height: 380px;
  display: grid;
  grid-template-columns: 300px 300px 400px;
  grid-template-rows: 40px 300px 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
 */
/* CSS para cardTeam */
.boxCardTeam {
  background-color: var(--color-orange);
  width: 950px;
  height: 230px;
  display: grid;
  grid-template-columns: 300px 300px 400px;
  grid-template-rows: 40px 150px 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
