.mainBoxHeader {
  background: $color-logo-blue;
  color: $color-logo-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6vh;
  }
  .containerImages {
    width: 80vw;
    height: 30vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    .photoLogo {
      width: 20vw;
      height: 20vw;
      border-radius: 10px;
    }
    .photoCole {
      height: 30vw;
      width: 50vw;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .containerIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.5vw;
    .icon {
      padding: 1vw;
    }
  }
}
