.mainBoxNavbar {
  background-color: $color-light-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn-open {
    display: none;
  }
  .boxElements {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-close {
      display: none;
    }
    .boxMenu {
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .elements {
        font-size: 2.5vh;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .mainBoxNavbar {
    background: none;

    .btn-open {
      background: $color-light-blue;
      display: block;
      position: absolute;
      top: 2vw;
      left: 2vw;
      padding: 1.5vw;
      border-radius: 10px;
    }

    .boxElements {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      height: auto;
      width: auto;
      top: 5vh;
      left: 0;
      background: $color-light-blue;
      padding: 2vh;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      &.visible {
        opacity: 1;
        visibility: visible;
      }
      .boxMenu {
        flex-direction: column;
        align-items: flex-start;
        .elements {
          padding: 2.5vw 1vw 0.5vw 1vw;
          width: 100%;
          border-bottom: 1px solid $color-beige;
        }
      }
    }
  }
}
