@charset "UTF-8";
/* importación de sass componentes layout */
.mainBoxHeader {
  background: #0054a8;
  color: #ffc500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vw; }
  .mainBoxHeader h1 {
    font-size: 6vh; }
  .mainBoxHeader .containerImages {
    width: 70vw;
    height: 15vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2vw; }
    .mainBoxHeader .containerImages .photoLogo {
      width: 20vw;
      height: 20vw; }
    .mainBoxHeader .containerImages .photoCole {
      height: 20vw;
      width: 40vw; }
  .mainBoxHeader .containerIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.5vw; }
    .mainBoxHeader .containerIcons .icon {
      padding: 1vw;
      width: 5vw;
      height: 5vw; }

@media (max-width: 480px) {
  .mainBoxHeader {
    background: cadetblue;
    height: auto; }
    .mainBoxHeader h1 {
      display: none; }
    .mainBoxHeader .containerImages {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .mainBoxHeader .containerImages .photoLogo {
        padding-top: 1vh;
        object-fit: cover;
        width: 80vw;
        height: auto; }
      .mainBoxHeader .containerImages .photoCole {
        display: none; }
    .mainBoxHeader .containerIcons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }
.mainBoxNavbar {
  background-color: #bec5e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainBoxNavbar .boxElements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainBoxNavbar .boxElements .mainUl {
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .mainBoxNavbar .boxElements .mainUl .elements {
        font-size: 2.5vh;
        font-weight: bold;
        text-decoration: none; }

.mainBoxFooter {
  background-color: #bec5e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .mainBoxFooter .mainFooter {
    font-size: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.mainBoxCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainBoxCards .boxCard {
    box-sizing: border-box;
    padding: 2vw;
    background: #ede3cd;
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 25vw 25vw 30vw;
    grid-template-rows: 10vh 40vh 10vh;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    border-radius: 10px; }
    .mainBoxCards .boxCard .titleCards, .mainBoxCards .boxCard .prev .boxCardTeam .titleCardsTeam, .prev .boxCardTeam .mainBoxCards .boxCard .titleCardsTeam {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      align-items: center;
      justify-content: center; }
    .mainBoxCards .boxCard .paragrah {
      border-top: 3px solid #ff8000;
      overflow-y: auto;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainBoxCards .boxCard .date {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      align-items: center;
      justify-content: center; }
    .mainBoxCards .boxCard .boxImages, .mainBoxCards .boxCard .prev .boxImagesTeam, .prev .mainBoxCards .boxCard .boxImagesTeam {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 30vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mainBoxCards .boxCard .boxImages div, .mainBoxCards .boxCard .prev .boxImagesTeam div, .prev .mainBoxCards .boxCard .boxImagesTeam div {
        object-fit: contain;
        display: flex;
        flex-direction: row;
        overflow-y: auto; }

/* css cardteam */
/* pendiente corregir cuando vayamos poniendo quien es el equipo */
.prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .prev .prev2 {
    box-sizing: border-box;
    width: 80vw;
    background: #ff8000;
    padding: 1.5vw;
    border-radius: 1vw;
    font-weight: bold; }
  .prev .boxCardTeam {
    background: #ff8000;
    width: 80vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 25vw 25vw 30vw;
    grid-template-rows: 10vh 20vh 10vh;
    margin-top: 15px;
    margin-bottom: 15px; }
    .prev .boxCardTeam .paragrahTeam {
      border-top: 3px solid #c2c1c4;
      padding-top: 15px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      margin: 15px 25px 15px 35px; }
    .prev .boxCardTeam .email {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      align-items: center;
      justify-content: center; }

.mainContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .mainContact .mainBoxForm {
    margin-top: 2vw;
    padding-top: 1.5vw;
    background: #c2c1c4;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px; }
    .mainContact .mainBoxForm .boxData {
      padding-top: 2vw;
      display: flex;
      flex-direction: row; }
      .mainContact .mainBoxForm .boxData .box {
        margin: 1vw;
        width: 15vw;
        height: 1vw;
        border-radius: 10px;
        padding: 1vw; }
    .mainContact .mainBoxForm .boxText {
      padding-top: 2vw; }
      .mainContact .mainBoxForm .boxText .textArea {
        width: 35vw;
        height: 5vw;
        border-radius: 10px;
        padding: 1vw; }
    .mainContact .mainBoxForm .btnSubmit {
      margin-top: 2vw;
      margin-bottom: 2vw;
      width: 8vw;
      height: 3vw;
      border-radius: 10px; }

.mainBoxNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainBoxNews .mainTitle {
    width: 80vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: #0054a8;
    color: #ffc500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; }
  .mainBoxNews .boxNews {
    width: 80vw; }

.mainBoxProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainBoxProjects .mainTitle {
    width: 80vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: #0054a8;
    color: #ffc500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; }
  .mainBoxProjects .boxProjects {
    width: 80vw; }

.mainBoxTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainBoxTeam .mainTitle {
    width: 80vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: #0054a8;
    color: #ffc500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; }
  .mainBoxTeam .boxTeam {
    width: 80vw; }

.mainLayout {
  background: #cfe9f7;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* Perteneciente al page.js */
.mainPage {
  /* Esto se debe de cambiar a row, cuando hagamos el nav con las redes sociales */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainPage .mainBoxPage {
    width: 80vw;
    height: auto;
    max-height: 2000px; }

/*# sourceMappingURL=globals.css.map */
