.main {
  /* Esto se debe de cambiar a row, cuando hagamos el nav con las redes sociales */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBox {
  width: 1000px;
  height: auto;
  max-height: 2000px;
}
