.mainBoxHeader {
  background-color: var(--color-logo-blue);
  color: var(--color-logo-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxImages {
  width: 1000px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.photo {
  border-radius: 10px;
}
