.mainBoxCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .boxCard {
    background: $color-beige;
    width: 80vw;
    height: 380px;
    display: grid;
    grid-template-columns: 25vw 25vw 30vw;
    grid-template-rows: 40px 300px 40px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    .titleCards {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .paragrah {
      border-top: 3px solid $color-orange;
      overflow-y: auto;
      padding-top: 1vw;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .date {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .boxImages {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 30vw;
      margin: 15px;
      div {
        object-fit: contain;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow-y: auto;
      }
    }
  }
}

/* css cardteam */

.prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .prev2 {
    box-sizing: border-box;
    width: 80vw;
    background: $color-orange;
    padding: 1.5vw;
    border-radius: 1vw;
  }
  .boxCardTeam {
    background: $color-orange;
    width: 80vw;
    height: 230px;
    display: grid;
    grid-template-columns: 25vw 25vw 30vw;
    grid-template-rows: 40px 150px 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    .titleCardsTeam {
      @extend .titleCards;
    }
    .paragrahTeam {
      border-top: 3px solid $color-grey;
      padding-top: 15px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      margin: 15px 25px 15px 35px;
    }
    .email {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .boxImagesTeam {
    @extend .boxImages;
  }
}
