.mainBoxCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .boxCard {
    box-sizing: border-box;
    padding: 2vw;
    background: $color-beige;
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 25vw 25vw 30vw;
    grid-template-rows: 10vh 40vh 10vh;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    border-radius: 10px;
    .titleCards {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .paragrah {
      border-top: 3px solid $color-orange;
      overflow-y: auto;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .date {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .boxImages {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        object-fit: contain;
        display: flex;
        flex-direction: row;
        overflow-y: auto;
      }
    }
  }
}

/* css cardteam */
/* pendiente corregir cuando vayamos poniendo quien es el equipo */
.prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .prev2 {
    box-sizing: border-box;
    width: 80vw;
    background: $color-orange;
    padding: 1.5vw;
    border-radius: 1vw;
    font-weight: bold;
  }
  .boxCardTeam {
    background: $color-orange;
    width: 80vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 25vw 25vw 30vw;
    grid-template-rows: 10vh 20vh 10vh;
    margin-top: 15px;
    margin-bottom: 15px;
    .titleCardsTeam {
      @extend .titleCards;
    }
    .paragrahTeam {
      border-top: 3px solid $color-grey;
      padding-top: 15px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      margin: 15px 25px 15px 35px;
    }
    .email {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .boxImagesTeam {
    @extend .boxImages;
  }
}

@media (max-width: 480px) {
  .mainBoxCards {
    .boxCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      .paragrah {
        height: 50vw;
      }
      .boxImages {
        width: 80vw;
      }
    }
  }
}
